// FONT SIZES
$large-font:20px;
$medium-large:17px;
$medium-font:13px;
$small-font:10px;

// FONT WEIGHT
$bold-font-weight:700;
$medium-font-weight:500;
$normal-font-weight:400;

// BORDER TESTING
$border:2px solid black;
// FONT
$main-font: "Roboto", sans-serif;
// COLORS
$p-color:#636060;